
# Backend
SPRING_DATASOURCE_URL=postgresql://db:5432/tracktherun
SPRING_DATASOURCE_USERNAME=<POSTGRES_USER>
SPRING_DATASOURCE_PASSWORD=<POSTGRES_PASSWORD>

# FRONTEND
BACKEND_BASE_URL=http://localhost:8080/api

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tracktherun

# External API's
WEATHER_BASE_URL=api.weatherapi.com/v1
WEATHER_API_KEY=

# Ex: http://api.weatherapi.com/v1/history.json?key=<KEY>&q=London&dt=2026-02-15

