
# Backend
DatasourceUrl=jdbc:postgresql://localhost:5432/tracktherun
DatasourceUsername=<POSTGRES_USER>
DatasourcePassword=<POSTGRES_PASSWORD>

# FRONTEND
BACKEND_BASE_URL=http://localhost:8080/api

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tracktherun

